<div class="alert alert-warning">
    <label class="form-control">Username</label>
    <!-- <input 
        type="text" 
        class="form-control" 
        #usernameHandle
        (change)="assignValue(usernameHandle)"> -->
        <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="loginUser.username">
    <label class="form-control">Password</label>
    <input 
        type="password" 
        class="form-control"
        [(ngModel)]="loginUser.password">
    <button class="btn btn-primary" (click)="login()">Login</button>
    <button class="btn btn-danger" (click)="reset()">Cancel</button>    
</div>
<hr>
<div>
Username : {{loginUser.username}}
Password : {{loginUser.password}}
</div>
